body {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.avatar {
    width: 150px;
    border: 2px solid #219ebc;
    border-radius: 30px;
}

.avatar:hover {
    box-shadow: -5px 5px 5px #fb8500;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #023047;
    color: #ffb703;
    border-bottom: 10px solid #219ebc;
}

.info:hover {
    text-shadow: -3px 3px 2px #219ebc;
}
